.correct{
  font-weight: bold;
  color: green;
}
.incorrect{
  font-weight: bold;
  color: red;
}
.active{
  font-weight: bold;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.box{
  padding-top: 1%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgb(22 22 59);
  vertical-align: auto;
  margin:2%;
  border-radius: 50px;
}

#input{
  width: 100%;
  line-height: 50px;
  border-radius: 10px;
  border-color: aqua;
}


body,html{
  background-color: #2898cf !important;
  color: white;
  font-size: 25px;
}
h1{
  text-align: center;
  padding-bottom: 5%;
}


